<section class="row center-align card">
	<section class="col s4">
		<h6>Meus Treinos</h6>
		<hr />

		<% if trainer_signed_in? %>
			<p>
				Aluno: <b><%= @pupil.name %></b>
			</p>

			<hr />
		<% end %>
	</section>

	<section class="col s12">
		<% if @pupil.trains.blank? %>
			<p>
				Nenhum treino cadastrado pra você ainda. <br />
				Aguarde mais um pouco. Estão saindo treinos fresquinhos pra você!
			</p>

			<hr />
		<% else %>
			<% @pupil.trains.order(created_at: :DESC).each do |train| %>
				<section class="row m-top shadow">
					<section class="col m3 s12">
						<%= image_tag train.get_photo, class: 'thumb' %>
					</section>

					<section class="col m6 s12">
						Agrupamentos: <b><%= train.grouping %> / <%= train.day_of_week %></b> <br />
						Treinador: <%= train.trainer.name %><br />
						<small>Data de lançamento: <%= train.created_at %></small>
						<small>Validade até <b><%= train.validate_date %></b></small>
					</section>

					<section class="col s12 m2">
						<%= link_to 'Ver Mais', train_path(train, pupil: @pupil), class: 'btn waves-effect waves-light red' %>
					</section>

					<section class="col s12 m1">
						<% if trainer_signed_in? %>
							<%= link_to train, method: :delete, data: { confirm: 'Tem certeza?' } do %>
								<i class="material-icons">delete</i>
							<% end %>
						<% end %>
					</section>
				</section>
			<% end %>
		<% end %>


		<%= link_to 'Voltar', pupil_path(@pupil), class: 'btn waves-effect waves-light' if trainer_signed_in? %>

		<br /><br />
		
	</section>
</section>