<% if not current_trainer.is_status_pendent? %>
	<section class="click_navbar right">
		<%= image_tag 'menu_nav', class: 'open' %>

		<%= image_tag 'close', class: 'close' %>
	</section>


	<section class="row center-align">
		<section class="col l2 m4 s6 nav_trainer">
			<%= image_tag 'logo2' %>
			<ul>
				<li><%= link_to 'Página Inicial', root_path %></li>
				<li><%= link_to 'Editar Perfil', edit_trainer_registration_path %></li>
				<li><%= link_to 'Meus Alunos', pupils_path %></li>
				<li><%= link_to 'Sair', destroy_trainer_session_path, method: :delete %></li>
			</ul>
		</section>
	</section>
<% end %>