<% if current_pupil.anamnesis.present? %>
	<section class="click_navbar right">
		<%= image_tag 'menu_nav', class: 'open' %>

		<%= image_tag 'close', class: 'close' %>
	</section>
	      
	<section class="row center-align">
		<section class="col l2 m4 s6 nav_trainer">
			<%= image_tag 'logo2' %>
			<ul>
				<li><%= link_to 'Página Inicial', root_path %></li>
				<li><%= link_to 'Editar Perfil', edit_pupil_registration_path %></li>
				<li><%= link_to 'Meu Personal', trainers_path %></li>
				<li><%= link_to 'Meus Treinos', trains_path %></li>
				<li><%= link_to 'Sair', destroy_pupil_session_path, method: :delete %></li>
			</ul>
		</section>
	</section>
<% end %>

<script>
	$( document ).on('turbolinks:load', function() {
		// Navbar
		$('.click_navbar .close').hide();
		$('.nav_trainer').hide();
		$('.click_navbar').click(function() {
		  $('.nav_trainer').toggle(300);
		  $('.click_navbar .close').toggle(200);
		  $('.click_navbar .open').toggle(200);
		});
	});
</script>