<h2>Esqueceu sua senha?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Enviar instruções para nova senha", class: 'btn waves-effect waves-light blue' %>
  </div>
<% end %>

<br />

<%= link_to 'Voltar', new_trainer_session_path, class: 'btn waves-light waves-effect' %>
