<section class="row">
	<section class="col s12 center-align trainer_card">
		<section class="card">
			<section class="card-title">
				<h3>Meus Alunos</h3>
				<hr />
			</section>

			<section class="card-content">
				<% current_trainer.pupils.each do |pupil| %>
					<section class="row">
						<section class="col s3 m-top">
							<%= image_tag pupil.profile_image, class: 'medium circle' %>
						</section>

						<section class="col s6">
							<h5><%= pupil.name %></h5>
							
							<p>
								Última atualização: <%= pupil.updated_at %>
							</p>

							<%= link_to 'Prescrever novo treino', new_train_path(pupil: pupil), class: 'btn waves-effect waves-light' %>
							
							<%= link_to 'Perfil', pupil_path(pupil), class: 'btn waves-effect waves-light black' %>
						</section>

						<section class="col s3 m-top">
							<%= link_to "https://api.whatsapp.com/send?phone=55#{pupil.telephone}" do %>
								<%= image_tag 'whatsapp', class: 'thumb' %>
							<% end %>

							<br /><br />

							<%= link_to 'Remover aluno', pupil_trainer_path(id: pupil), method: :delete, data: { confirm: 'Tem certeza?' }, class: 'btn waves-effect waves-light red' %>
						</section>
					</section>

					<hr />
				<% end %>

				<% if current_trainer.pupils.count == 0 %>
					Não existem alunos cadastrados ainda!
					<hr />
				<% end %>	
			</section>
		</section>
	</section>
</section>