<!DOCTYPE html>
<html>
  <head>
    <title>Intreino</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <% if trainer_signed_in? %>
        <header>
          <%= render 'shared/navbar_trainer' %>
        </header>

        <section class="container">
          <%= yield %>
        </section>
    <% else %>
      <section class="container">
        <%= yield %>
      </section>
    <% end %>
  </body>
</html>
